.news-layout {
    border-top: 1px solid #95a5a6;
    /* margin-top: 10px;
    padding-top: 10px; */
}

/* .layout-image {
    width: 100%;
    height: 100%;
    
} */
.dropdown-layout {
    text-align: right
}
.btn-update {
    text-align: right;
   
} 
.title-link {
    text-decoration: none;
    font-weight: 700;
}
.title-link:hover {
    border-bottom: 3px solid #0d6efd;
}
.content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}