{{#section 'css'}}
    <link rel="stylesheet" href="/css/user.css" />
    
{{/section}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="row">
    <div class="col-lg-4">
        <div class="avatar__content">
            <div class="avatar__thumbnail">
                <img src="https://p1-tt.byteimg.com/origin/pgc-image/97997b8db8cb4c6e9463b89b0159a488.jpg" alt="" class="avatar__img">
                <input type="file" class="avatar__btn" id="avatar">
                <label for="avatar" class="avatar__label"><i class="fa-solid fa-file-pen"></i> </label>
            </div>
            <div class="avatar__name">
                <span>Username: ntt</span>
            </div>
            
        </div>
    </div>
    <div class="col-lg-8">
        <div class="info__user">
            <div class="info__group">
                <span>Full Name</span>
                <p>Nguyễn Thiên Thanh</p>
            </div>
            <div class="info__group">
                <span>Số điện thoại</span>
                <p>0889876887</p>
            </div>

        </div>
    </div>
</div>