{{#section 'css'}}
    <link rel="stylesheet" href="/css/user.css" />
{{/section}}


<div class="register">
    <div class="register__banner">
        <img src="https://curnonwatch.com/blog/wp-content/uploads/2021/03/anh-dong-ho-dep-76.jpg" alt="" class="banner__img">
    </div>

    <div class="register__content">
        <div class="container">
            <div class="form">
                <form class="form__block"  action="/user/register" method="POST">
                <h3 class="form__headding">Đăng ký</h3>
               {{#if messageSuccess}}
                    <h3 class="message__success">{{messageSuccess}}</h3>
                {{/if}}

                {{#if messageFailure}}
                    <h3 class="message__failure">Đăng ký Không thành công <br>{{messageFailure}}</h3>
                {{/if}}
                    <div class="form__group">
                        <label for="" class="form__label">Họ và tên</label>
                        <input type="text" name="fullName" id="fullName" class="form__input" placeholder="Tên đầy đủ của bạn">
                        <span class="message"></span>
                    </div>
                    <div class="form__group">
                        <label for="" class="form__label">Số điện thoại</label>
                        <input type="text" name="phoneNumber" id="phoneNumber" class="form__input" placeholder="Số điện thoại của bạn">
                        <span class="message"></span>
                    </div>
                    <div class="form__group">
                        <label for="" class="form__label">Username</label>
                        <input type="text" name="username" id="username" class="form__input" placeholder="Tên đăng nhập của bạn">
                        <span class="message"></span>
                    </div>
                    <div class="form__group">
                        <label for="" class="form__label">Mật khẩu</label>
                        <input type="text" name="password" id="password" class="form__input" placeholder="Mật khẩu của bạn">
                        <span class="message"></span>
                    </div>
                    <div class="form__group">
                        <label for="" class="form__label">Xác thực mật khẩu</label>
                        <input type="text" class="form__input" id="confirm-pass" placeholder="Nhập lại mật khẩu">
                        <span class="message"></span>

                    </div>
                    <button class="btn__submit" id="submit-btn">Đăng ký</button>

                    <div class="form__change">
                        <span>  Đã có tài khoản</span>
                        <br>
                        <a href="/user/login" class="change__link">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#section 'js'}}
    <script src="/js/user.js"></script>
{{/section}}