.watch-name-link {
    text-decoration: none;
}
.cart-col-name {
    width: 25%;
}

.cart-col-quantity {
    /* display:flex;
    align-item:center;
    justify-content: center;
    text-algin: center; */
    /* height: 120px; */
}
.cart-col-item {
    padding: 4px;
}
.purchase-link {
    text-decoration: none;
    color: white;
}
.purchase-link:hover {
    color: white;
}