.header {
    background-color: #000;
    /* background-image: url(../images/teaser-gm-b2100-pc.avif); */
}
.input-search {
    border-right: none;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-search {
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #fff;
}
.header-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
.header-btn-link {
    background-color: #000;
    border: none;
}
.header-user-toggle {
    background-color: #000;
}
.btn-ui-admin {
    background-color: #000;
    border: none;
}
#header-user-avatar {
    border-radius: 25px;
}

/* footer */
.footer{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-black-dynamic-watch-simple-black-banner-image_182859.jpg') ;
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
    background-position:  center;
    height: 270px;
    color: #fff;
    padding: 20px 0;
}

/* .footer__container{
    width: 1100px;
} */
.footer__nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
    display: block;
}

.map__gg{
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.social__link{
    color: #fff;
    display: block;
}
