.list-status {
    display: flex;
   
}

.status-item-link {
    text-decoration: none;
    margin : 15px 5px;
}

.alert-payment {
    height: 50vh;
    background: #B2EBF2;
}
.icon-success {
    font-size: 6rem;
    color: #27ae60;
}
.icon-failure {
    font-size: 6rem;
    color: #c0392b;
}

@media (min-width:320px) and (max-width:768px){
    .list-status {
        overflow: scroll;
        overflow-y: hidden;
    }
    .btn-mobile {
        min-width: 100px;
    }
}