<h3 class="text-center">Admin home</h3>

{{!-- message --}}
{{#showMessage message success}}{{/showMessage}}
{{clearMessage}}

{{#section 'js'}}
    <script src="/js/adminHome.js"></script>
{{/section}}