{{#section "css"}}
  <link rel="stylesheet" href="../css/role.css" />
{{/section}}

<div>
  <h3 class="text-center my-4">Chỉnh sửa quyền cho người dùng</h3>
  <a href="/admin/role/role-create" class="btn btn-info text-white">Thêm Quyền</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">fullName</th>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <th scope="row">{{this.index}}</th>
          <td>{{this.fullName}}</td>
          <td>{{this.username}}</td>
          <td><a class="btn btn-warning text-white" href="/admin/role/role-detail/{{this._id}}"><i
                class="fa-duotone fa-pen-to-square"
              ></i>
              edit</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>