<div>
  <h3 class="text-center mt-2">Cập nhật quyền người dùng</h3>
  <div class="role__update">
    {{#with userRoles}}
      <h4 class="username">Tên người dùng: <span class="text-info">{{ fullName}}</span></h4>
      
    
    <form action="/admin/role/update-role/{{_id}}" class="form__role" method="POST">
      <input type="checkbox" name="" class="fs-2 me-4" id="check--all" >
      <label for="check--all" class="fs-5">Chọn tất cả</label>

    {{#templateRole}}{{/templateRole}}
      <button  class="my-4 btn btn-warning text-white submitRole">Thay đổi quyền</button>
    </form>
  {{/with}}
  {{#if success}}
      <p class="mt-2 text-success fs-4">{{message}}</p>
  {{/if}}
  </div>
</div>
{{#section 'js'}}
<script>
  const btn= document.querySelector('.submitRole')
  const form = document.querySelector('.form__role')
  const inputRole = document.querySelectorAll('.input__role')
  const checkAll= document.querySelector('#check--all')
  btn.addEventListener('click', changeRole)
  function changeRole(event){
    {{!-- event.preventDefault()
    console.log(form) --}}

  }


  checkAll.addEventListener('change',function (e){
    let isChecked = checkAll.checked;
    if(isChecked){
      for( let i=0 ; i < inputRole.length; i++){
        inputRole[i].checked=true
      }
    }else{
      for( let i=0 ; i < inputRole.length; i++){
        inputRole[i].checked=false
      }
    }
  })
    let isChecked = inputRole.length == inputRoleChecked.length;
    if(isChecked) {
      checkAll.checked=true
    }
  for(let i=0; i< inputRole.length; i++){
    inputRole[i].addEventListener('change',function(){
      const inputRoleChecked = document.querySelectorAll('.input__role:checked')
      let isChecked = inputRole.length === inputRoleChecked.length;
      if(isChecked){
        checkAll.checked=true
      }else{
        checkAll.checked= false
      }
    })
  }

</script>
{{/section}}